html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #333;
  overflow: hidden;
}

.u-isVisuallyHidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 285px;
  height: 440px;
  background-color: whitesmoke;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: -webkit-transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.card:nth-child(2) {
  -webkit-transform: translate(calc(-50% + -210px), -50%) rotate(-16.37deg);
          transform: translate(calc(-50% + -210px), -50%) rotate(-16.37deg);
}

.card.isActive:nth-child(2) {
  -webkit-transform: translate(calc(-50% + -210px), -90%) rotate(-16.37deg);
          transform: translate(calc(-50% + -210px), -90%) rotate(-16.37deg);
}

.card:nth-child(3) {
  -webkit-transform: translate(calc(-50% + -170px), -50%) rotate(-12.74deg);
          transform: translate(calc(-50% + -170px), -50%) rotate(-12.74deg);
}

.card.isActive:nth-child(3) {
  -webkit-transform: translate(calc(-50% + -170px), -90%) rotate(-12.74deg);
          transform: translate(calc(-50% + -170px), -90%) rotate(-12.74deg);
}

.card:nth-child(4) {
  -webkit-transform: translate(calc(-50% + -130px), -50%) rotate(-9.11deg);
          transform: translate(calc(-50% + -130px), -50%) rotate(-9.11deg);
}

.card.isActive:nth-child(4) {
  -webkit-transform: translate(calc(-50% + -130px), -90%) rotate(-9.11deg);
          transform: translate(calc(-50% + -130px), -90%) rotate(-9.11deg);
}

.card:nth-child(5) {
  -webkit-transform: translate(calc(-50% + -90px), -50%) rotate(-5.48deg);
          transform: translate(calc(-50% + -90px), -50%) rotate(-5.48deg);
}

.card.isActive:nth-child(5) {
  -webkit-transform: translate(calc(-50% + -90px), -90%) rotate(-5.48deg);
          transform: translate(calc(-50% + -90px), -90%) rotate(-5.48deg);
}

.card:nth-child(6) {
  -webkit-transform: translate(calc(-50% + -50px), -50%) rotate(-1.85deg);
          transform: translate(calc(-50% + -50px), -50%) rotate(-1.85deg);
}

.card.isActive:nth-child(6) {
  -webkit-transform: translate(calc(-50% + -50px), -90%) rotate(-1.85deg);
          transform: translate(calc(-50% + -50px), -90%) rotate(-1.85deg);
}

.card:nth-child(7) {
  -webkit-transform: translate(calc(-50% + -10px), -50%) rotate(1.78deg);
          transform: translate(calc(-50% + -10px), -50%) rotate(1.78deg);
}

.card.isActive:nth-child(7) {
  -webkit-transform: translate(calc(-50% + -10px), -90%) rotate(1.78deg);
          transform: translate(calc(-50% + -10px), -90%) rotate(1.78deg);
}

.card:nth-child(8) {
  -webkit-transform: translate(calc(-50% + 30px), -50%) rotate(5.41deg);
          transform: translate(calc(-50% + 30px), -50%) rotate(5.41deg);
}

.card.isActive:nth-child(8) {
  -webkit-transform: translate(calc(-50% + 30px), -90%) rotate(5.41deg);
          transform: translate(calc(-50% + 30px), -90%) rotate(5.41deg);
}

.card:nth-child(9) {
  -webkit-transform: translate(calc(-50% + 70px), -50%) rotate(9.04deg);
          transform: translate(calc(-50% + 70px), -50%) rotate(9.04deg);
}

.card.isActive:nth-child(9) {
  -webkit-transform: translate(calc(-50% + 70px), -90%) rotate(9.04deg);
          transform: translate(calc(-50% + 70px), -90%) rotate(9.04deg);
}

.card:nth-child(10) {
  -webkit-transform: translate(calc(-50% + 110px), -50%) rotate(12.67deg);
          transform: translate(calc(-50% + 110px), -50%) rotate(12.67deg);
}

.card.isActive:nth-child(10) {
  -webkit-transform: translate(calc(-50% + 110px), -90%) rotate(12.67deg);
          transform: translate(calc(-50% + 110px), -90%) rotate(12.67deg);
}

.card:nth-child(11) {
  -webkit-transform: translate(calc(-50% + 150px), -50%) rotate(16.3deg);
          transform: translate(calc(-50% + 150px), -50%) rotate(16.3deg);
}

.card.isActive:nth-child(11) {
  -webkit-transform: translate(calc(-50% + 150px), -90%) rotate(16.3deg);
          transform: translate(calc(-50% + 150px), -90%) rotate(16.3deg);
}

.card:nth-child(12) {
  -webkit-transform: translate(calc(-50% + 190px), -50%) rotate(19.93deg);
          transform: translate(calc(-50% + 190px), -50%) rotate(19.93deg);
}

.card.isActive:nth-child(12) {
  -webkit-transform: translate(calc(-50% + 190px), -90%) rotate(19.93deg);
          transform: translate(calc(-50% + 190px), -90%) rotate(19.93deg);
}

.card_11 {
  font-size: 16px;
}
.card_11 .card-top-desc > em,
.card_11 .card-bottom-desc > em {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-top,
.card-bottom {
  position: absolute;
  padding: 20px;
  width: 100%;
}
.card-top > *,
.card-bottom > * {
  line-height: 25px;
}

.card-top {
  top: 0;
}

.card-bottom {
  bottom: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-top-logo,
.card-bottom-logo {
  position: relative;
  display: inline-block;
  width: 100%;
}

.card-top-logo:before,
.card-bottom-logo:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 27.5%;
}

.card-top-logo > svg,
.card-bottom-logo > svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-top-logo + .card-top-desc,
.card-bottom-logo + .card-bottom-desc {
  padding-top: 10px;
}

.card-top-num,
.card-bottom-num {
  padding-right: 10px;
  font-size: 60px;
  line-height: 50px;
  float: left;
  height: 50px;
}

.card-top-desc > em,
.card-bottom-desc > em {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.card-num,
.card-top-num,
.card-bottom-num {
  font-family: 'Lora', serif;
  font-weight: 700;
}

.card-num {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 196px;
}
